.hohser_partial_hide {
  opacity: 0.25;
}

.hohser_full_hide {
  display: none!important;
}

.hohser_result {
  position: relative;
}

.hohser_result_management {
  position: absolute;
  top: 0;
  right: 15px;
  display: none;
  z-index: 10;
}

@media (pointer: coarse) {
  .hohser_result_management {
    right: 0px;
    display: block;
    margin: 6px;
  }
}

.hohser_result:hover .hohser_result_management {
  display: block;
}

.hohser_actions {
  overflow: hidden;
  max-height: 0;
  position: absolute;
  right: 0;
  top: 18px;
  padding: 0;
  transition: all .5s;
  background: rgba(255, 255, 255, .85);
  padding: 0 8px;
  min-width: 260px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0;
}

.hohser_result_management:hover .hohser_actions {
  max-height: 80px;
  padding: 8px;
  opacity: 1;
}

.hohser_actions_domain {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hohser_actions_domain button {
  margin: -6px -24px -6px 0px;
  display: none;
}

.hohser_actions_domain button[data-matched-string] {
  display: inline-flex;
}

.hohser_actions_domain button svg {
  font-size: 1rem;
  color: rgba(0,0,0,.54);
}

.hohser_actions_btns {
  text-align: center;
}

#hohser_domains_counter {
  display: block;
  position: fixed;
  padding: 8px;
  font-size: .8rem;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .65);
  color: white;
  opacity: 1;
  transition: opacity .5s;
}

#hohser_domains_counter:hover {
  opacity: 0;
}

/* Google specific */
.g {
  border-radius: 1px;
}

.g .exp-outline {
  width: calc(100% + 30px);
  left: -15px;
}

.g.hohser_highlight .exp-outline {
  display: none;
}

.g.hohser_highlight .AUiS2 {
  margin-left: 0!important;
  margin-right: 0!important;
}

.g.hohser_highlight.mnr-c {
  background-color: transparent!important;
  box-shadow: none!important;
}

.g.hohser_highlight .XCKyNd {
  right: -10px;
}

.g.mnr-c.hohser_highlight .g {
  box-shadow: none!important;
}

/* Startpage specific */
.column--main__content > ol .search-result {
  padding: var(--spacing-default);
  margin: calc(0rem - var(--spacing-default));
  margin-bottom: calc(1.25rem - var(--spacing-default));
  border-radius: var(--ui-button-radius);
}

.hohser_actions_btns button [fill], .hohser_actions_domain button [fill] {
  fill: none;
}

/* Baidu specific */
#wrapper_wrapper {
  .MuiSvgIcon-root {
    height: 20px;
    width: 20px;
  }
}

/* DuckDuckGo specific */

.super1:not(:hover) .result__snippet {
  color: black!important;
}

.super2:not(:hover) .result__snippet {
  color: black!important;
}

/* Super effects just for fun ;) */

.super1 {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  padding: 3px;
  border-radius: 5px;
}

.super2 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 3px;
  border-radius: 5px;
}

.super3 {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  padding: 3px;
  border-radius: 5px;
}

.super4 {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  padding: 3px;
  border-radius: 5px;
}

.super1 h3,
.super2 h3,
.super3 h3,
.super4 h3,
.super1 h2 a,
.super2 h2 a,
.super3 h2 a,
.super4 h2 a {
  font-weight: bold;
  color: white !important;
} 