.hohser_partial_hide {
  opacity: 0.25;
}

.hohser_full_hide {
  display: none;
}

.hohser_result {
  position: relative;
}

.hohser_result_management {
  position: absolute;
  top: 0;
  right: 15px;
  display: none;
  z-index: 10;
}

.hohser_result:hover .hohser_result_management {
  display: block;
}

.hohser_actions {
  overflow: hidden;
  max-height: 0;
  position: absolute;
  right: 0;
  top: 18px;
  padding: 0;
  transition: all .5s;
  background: rgba(255, 255, 255, .85);
  padding: 0 8px;
  min-width: 260px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0;
}

.hohser_result_management:hover .hohser_actions {
  max-height: 80px;
  padding: 8px;
  opacity: 1;
}

.hohser_actions_domain {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hohser_actions_domain button {
  margin: -6px -24px -6px 0px;
  display: none;
}

.hohser_actions_domain button[data-matched-string] {
  display: inline-flex;
}

.hohser_actions_domain button svg {
  font-size: 1rem;
  color: rgba(0,0,0,.54);
}

.hohser_actions_btns {
  text-align: center;
}

/* Only for Google */
.g {
  border-radius: 1px;
}

.g .exp-outline {
  width: calc(100% + 30px);
  left: -15px;
}

.g.hohser_highlight .exp-outline {
  display: none;
}

.g.hohser_highlight .AUiS2 {
  margin-left: 0!important;
  margin-right: 0!important;
}

.g.hohser_highlight.mnr-c {
  background-color: transparent!important;
  box-shadow: none!important;
}

.g.hohser_highlight .XCKyNd {
  right: -10px;
}

.g.mnr-c.hohser_highlight .g {
  box-shadow: none!important;
}

/* Only for Startpage */
.column--main__content > ol .search-result {
  padding: var(--spacing-default);
  margin: calc(0rem - var(--spacing-default));
  margin-bottom: calc(1.25rem - var(--spacing-default));
  border-radius: var(--ui-button-radius);
}

.hohser_actions_btns button [fill], .hohser_actions_domain button [fill] {
  fill: none;
}
